<header *ngIf="isLoggedIn">
  <nav
    class="navbar navbar-expand-sm navbar-light bg-light fixed-top py-1"
    style="border-bottom: 2px solid #007bff;"
  >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']" >
        Asset Management
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow" *ngIf="isLoggedIn">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">
              Home
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/branchList']"
              >Branch List</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/addEditBranch']"
              >Add/Edit Branch</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
